/* Add this CSS to your stylesheet or within a <style> tag in your component file */
.input-placeholder::placeholder {
  color: #cccccc; /* Color for the placeholder */
}

.input-text {
  color: #797979; /* Darker color for the input text */
}

.customSelect {
  -webkit-appearance: none; /* Remove default arrow in Chrome, Safari, and Opera */
  -moz-appearance: none; /* Remove default arrow in Firefox */
  appearance: none; /* Remove default arrow in modern browsers */
  background: transparent; /* Ensure background is transparent */
  background-image: none; /* Remove background image */
  color: #c1bdbd;
  padding: 0 8px;
}

.customSelect::-ms-expand {
  display: none; /* Remove default arrow in IE */
}

.input-text-2 {
  color: #797979;
  padding: 0 8px;
}
